  <form method="post" >

      <h1>Log in</h1>

      <label for="email"><b>Email</b></label>
      <input type="text" name="email" required>

      <label for="password"><b>Password</b></label>
      <input type="password" name="password" required>

      <div class="button">
        <input class="btn" type="submit" class="signupbtn"></input>
      </div>
      <p>New to FavGif ? <a href="/signup">Create an account</a></p>

  </form>