  <form method="post" >
      <h1>Create an account</h1>

      <label for="name"><b>Username</b></label>
      <input type="text" name="name" required>

      <label for="email"><b>Email</b></label>
      <input type="text" name="email" required>

      <label for="password"><b>Password</b></label>
      <input type="password"name="password" required>

      <label for="password-repeat"><b>Repeat Password</b></label>
      <input type="password" name="password-repeat" required>

      {{!-- <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
      </label> --}}


      <div class="button">
        <button class="btn" type="submit" class="signupbtn"><a href="/" style="text-decoration: none">Submit</a></button>
      </div>

  </form>