<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Gifs App</title>
  <meta name="description" content="Advice app">
  <meta name="keywords" content="advice">
  <link rel="icon" href="/favicon.png?v=1.1">
  {{!-- <meta http-equiv="refresh" content="8"> --}}

  <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe|Lato:400" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>

<body class="">
  <div class="container {{template}}">
    {{{body}}}
  </div>
  {{> footer}}
</body>

</html>